/* Reset e estilo global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #2c3e50; /* Fundo azul escuro */
  color: #fcffff; /* Texto branco suave */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Garante que ocupa a altura da tela */
  font-size: 24px;
  font-weight: bold;
  color: white;

  background-image: url('../images/indexImagem.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    
}

/* Logo */
@keyframes glow {
  0% {
    text-shadow: 0 0 5px rgb(200, 163, 207), 0 0 10px rgb(72, 30, 128), 0 0 15px rgb(231, 231, 231), 0 0 20px #46109e;
  }
  100% {
    text-shadow: 0 0 10px rgb(120, 54, 122), 0 0 20px rgb(145, 105, 172), 0 0 30px rgb(255, 255, 255), 0 0 40px #4f0a88;
  }
}

.logo {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  color: rgb(255, 255, 255);
  animation: glow 1.5s infinite alternate, float 3s ease-in-out infinite;
}

.lang-icon {
  display: flex; 
  gap: 4px; 
  position: fixed;
 top: 15px;
  right: 50px;
  z-index: 100;
}

.lang-icon img {
  width: 27px; /* Tamanho das bandeiras */
  height: auto;
  cursor: pointer;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px; /* Reduzi o padding para diminuir a altura */
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 4px rgba(114, 113, 113, 0.2);
  height: 60px; /* altura menor para a navbar */
}

.nav-list {
  display: flex;
  justify-content: center; /* Centraliza os botões */
  align-items: center;
  flex-grow: 1; /* Permite que os botões ocupem o espaço necessário */
  gap: 20px; /* Adiciona espaço entre os botões */
}

.nav-item {
  margin: 0 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  padding: 5px 0;
  transition: all 0.3s ease;
}

/* Efeito 1: Sublinhado que cresce */
.nav-link.effect-1:hover {
  color: #8602a0;
}

.nav-link.effect-1::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #8602a0;
  transition: width 0.3s ease;
}

.nav-link.effect-1:hover::after {
  width: 100%;
}

main.content {
  display: flex;
  flex: 1;
  justify-content: space-between; /* Espaço entre texto e imagem */
  align-items: center; /* Centraliza verticalmente */
  padding: 20px;
}

.text-left {
  flex: 1;
  padding: 20px;
}

.text-left h1 {
  font-size: 2.5rem;
  margin-bottom: 17px;
  color: #ffffff; 
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.text-left p {
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: #c9cdcf; 
  font-family: 'Nunito', sans-serif;
}

.text-left .experimente {
  display: inline-block;
  background-color: #1abc9c; /* Verde vibrante */
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.text-left .experimente:hover {
  background-color: #16a085; /* Tom mais escuro de verde */
}

.image-right {
  flex: 1;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
   margin-top: -35px;
}

.image-right img {
  max-width: 100%; /* Tamanho máximo da imagem */
  height: 409px;
  border-radius: 0px; 
   margin-top: -35px;
}

.font-controls {
  position: fixed;
  top: 10px;
  right: 350px;
  z-index: 1000;
  display: flex;
  gap: 10px; 
}

.font-controls button {
  background-color: #8602a0;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.font-controls button:hover {
  background-color: #6e0285;
}