body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
 
.container {
    display: flex;
}
 
.sidebar {
    width: 250px;
    background-color: #eaeaea;
    padding: 20px;
    min-height: 100vh;
}
 
.profile-summary {
    text-align: center;
    margin-bottom: 40px; /* Aumenta o espaço abaixo do bloco do perfil */
    margin-top: 40px;    /* Adiciona espaço acima do bloco do perfil */
}
 
.profile-pic {
  width: 80px;
  height: 80px;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  font-size: 36px;
  line-height: 80px;
  margin: 0 auto 10px auto;
}
 
nav ul {
    list-style: none;
    padding: 0;
}
 
nav ul li {
    padding: 10px;
}
 
nav ul li a {
    text-decoration: none;
    color: black;
}
 
.content {
    flex-grow: 1;
    padding: 40px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 10px;
}
 
.profile-section {
    margin-bottom: 15px;
}
 
input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
 
.settings-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 40px; /* Espaço acima da ul */
  margin-bottom: 0; /* Ajuste se quiser espaço abaixo também */
}
 
.settings-menu ul li {
  margin-bottom: 10px;
}
 
.settings-menu ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px 10px;
  border-radius: 4px;
  transition: background-color 0.2s;
}
 
.settings-menu ul li:hover a,
.settings-menu ul li.active a {
  background-color: #5e2a84;
  color: #fff;
}
 
 