html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../images/indexImagem.png');
    background-size: cover; /* Faz a imagem ocupar todo o espaço */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* Faz a imagem permanecer fixa ao rolar a página */
    color: #333;
    font-family: Arial, sans-serif;
}
        header {
            text-align: center;
            padding: 20px;
        }

       .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.21);
    border-radius: 8px;
    flex: 1; /* Faz o container crescer para ocupar o espaço disponível */
}

       li{
        color: white;
       }

        h1{
            
            color: white;
        }

        h2{
            color: #8602a0;
        }

        p {
            line-height: 1.6;
            color: white;
        }

        footer {
            text-align: center;
            padding: 10px;
           
            color: white;
            width: 100%;
        }

