<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro - ENEMzadas</title>
  <link rel="stylesheet" href="../css/cadastro.css">
</head>
<body>
  <nav class="navbar">
    <div class="logo">ENEMzada</div>
    <ul class="nav-list">
      <a href="../views/index.html" class="nav-link effect-1">Início</a>
      <a href="#" class="nav-link effect-1">Planos</a>
      <a href="#" class="nav-link effect-1">Recursos</a>
    </ul>
    <div class="lang-icon">
      <img src="../images/brasilbandeira.jpg" alt="Idioma">
    </div>
  </nav>

  <div class="container">
    <div class="form-left">
      <h2>CADASTRE-SE</h2>
      <form id="register-form">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" required>

        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" required>

        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha" required>

        <p class="senha-info">Crie uma senha de acesso, com 8 letras e/ou números</p>
        <div class="form-link">
          <a href="./login.html">Já tenho conta</a>
        </div>

        <button type="submit">Cadastrar</button>

        <div class="social-icons">
          <a href="https://www.instagram.com/"><img src="../images/logoinsta.png" alt="Instagram"></a>
          <a href="https://www.google.com/intl/pt-BR/account/about/"><img src="../images/googlelogo.png" alt="Google"></a>
          <a href="https://br.linkedin.com/"><img src="../images/linkedinimg.png" alt="LinkedIn"></a>
        </div>
      </form>
    </div>
    <div class="image-right">
      <h3>Faça agora seu cadastro!</h3>
      <p>Conteúdos exclusivos e inéditos</p>
      <img src="../images/astronautacadastro.png" alt="Astronauta estudando">
    </div>
  </div>

  <footer>
    <p>&copy; Todos os direitos reservados ENEMzadas 2025 </p>
  </footer>

  <script src="/front-end/js/app.js"></script>
</body>
</html>
