<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register - ENEMzada</title>
  <link rel="stylesheet" href="../css/cadastro-ingles.css">
</head>
<body>
     <nav class="navbar">
    <div class="logo">ENEMzada</div>
    <ul class="nav-list">
      <a href="../views/index-ingles.html" class="nav-link effect-1">Start</a>
      <a href="#" class="nav-link effect-1">Plans</a>
      <a href="#" class="nav-link effect-1">Features</a>
    </ul>
 
    <div class="lang-icon">
      <a href="cadastro.html">
        <img src="../images/brasilbandeira.jpg" alt="Idioma">
      </a>
   
        <img src="../images/estados-unidos.png.jpg" alt="Idioma Inglês">
      
    </div>
      
 
  </nav>

  <div class="container">
    <div class="form-left">
      <h2>REGISTER NOW</h2>
      <form id="register-form">
        <label for="nome">Name</label>
        <input type="text" id="nome" name="nome" required>

        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" required>

        <label for="senha">password:</label>
        <input type="password" id="senha" name="senha" required>

        <p class="senha-info">Create an access password, with 8 letters and/or numbers</p>
        <div class="form-link">
          <a href="./login-ingles.html">I already have an account</a>
        </div>

        <button type="submit">Register</button>

        <div class="social-icons">
          <a href="https://www.instagram.com/"><img src="../images/instaCadastro.png" alt="Instagram"></a>
          <a href="https://www.google.com/intl/pt-BR/account/about/"><img src="../images/googlCadastro.png" alt="Google"></a>
          <a href="https://br.linkedin.com/"><img src="../images/linkedinCadastro.png" alt="LinkedIn"></a>
        </div>
      </form>
    </div>
    <div class="image-right">
      <h3>Register now!</h3>
      <p>Exclusive and unpublished content</p>
      <img src="../images/astronautacadastro.png" alt="Astronauta estudando">
    </div>
  </div>

  <footer>
    <p>&copy; All rights reserved ENEMzadas 2025 </p>
  </footer>

  <script src="/front-end/js/app.js"></script>
</body>
</html>
