<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENEMzadas - Página Inicial</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header>
        <div class="logo">ENEMzada</div>
    </header>
 
    <div class="User">
        <a href="perfil.html">
        <img src="../images/user1.png" alt="User">
        </a>
    </div>
 
 
 
    <div class="container">
        <!-- Barra Lateral -->
        <aside class="sidebar">
            <ul>
                <li><a href="#">Matérias</a></li>
                <li><a href="./">Simulados</a></li>
                <li><a href="./cursos.html">Cursos</a></li>
                <li><a href="./noticias.html">Notícias</a></li>
                <li><a href="#">Suporte</a></li>
                <li><a href="./privacidade-segurança.html">Política e Privacidade</a></li>
            </ul>
        </aside>
 
        <!-- Conteúdo Principal -->
        <main class="content">
            <section class="content-header">
                <h1>ENEM 2025!!</h1>
                <p>Explore os conteúdos, simulados GRATUITOS, cursos recomendados por especialistas e muito mais para projetar seu futuro com o ENEM!</p>
           
        </main>
    </div>
</body>
</html>
 
 