<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ENEMzada</title>
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <header>
    <nav>
      <div class="logo">ENEMzada</div>
      <div class="nav-list">
        <a href="../views/login.html" class="nav-link effect-1">Login</a>
        <a href="../views/cadastro.html" class="nav-link effect-1">Cadastro</a>
        <a href="../views/quemsomos.html" class="nav-link effect-1">Quem somos</a>
      </div>

          <div class="lang-icon">
         <a href="index.html">
          <img src="../images/brasilbandeira.jpg" alt="Idioma Português">
           </a>
         <a href="index-ingles.html">
         <img src="../images/estados-unidos.png.jpg" alt="Idioma Inglês">
         </a>
         </div>
    
    </nav>
  </header>
  
  <main class="content">
    <div class="text-left">
      <h1>O esforço de hoje será o sucesso de amanhã!</h1>
      <p>Transforme seu futuro com conhecimento: estude conosco e alcance seus sonhos!</p>
      <a href="../views/" class="btn experimente">Experimente Grátis</a>
    </div>
    
    <!-- Imagem com texto no topo e fundo -->
    <div class="image-right">
      <img src="../images/imagemindex2.PNG.png">
    </div>
    
  </main>
</body>
</html>
