<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ENEMzada</title>
  <link rel="stylesheet" href="../css/index-ingles.css">
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="logo">ENEMzada</div>
      <div class="nav-list">
        <a href="../views/login-ingles.html" class="nav-link effect-1">Login</a>
        <a href="../views/cadastro-ingles.html" class="nav-link effect-1">Register</a>
        <a href="#" class="nav-link effect-1">Who we are</a>
      </div>
    </nav>
  </header>

  <div class="parent-lang-icon">
    <div class="lang-icon">
   <a href="index.html">
     <img src="../images/brasilbandeira.jpg" alt="Idioma Português">
    </a>
     
    </div>
    <div class="lang-icon">
      
        <img src="../images/estados-unidos.png.jpg" alt="Idioma Inglês">
     
    </div>
  </div>
  
  <main class="content">
    <div class="text-left">
      <h1>Today's effort will be tomorrow's success!</h1>
      <p>Transform your future with knowledge: study with us and achieve your dreams!</p>
      <a href="../views/" class="btn experimente">Try it for free</a>
    </div>
    
    <!-- Imagem com texto no topo e fundo -->
    <div class="image-right">
      <img src="../images/imagemindex2.PNG.png">
    </div>
    
  </main>
</body>
</html>
