<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - ENEMzada</title>
  <link rel="stylesheet" href="../css/login-ingles.css">
</head>
<body>
  
  <!-- Navbar -->
  <nav class="navbar">
    <div class="logo">ENEMzada</div>
    <ul class="nav-list">
      <a href="../views/index-ingles.html" class="nav-link effect-1">Start</a>
      <a href="../views/cadastro-ingles.html" class="nav-link effect-1">Register</a>
    </ul>
    
    
   
    <div class="lang-icon">
      <a href="login.html">
        <img src="../images/brasilbandeira.jpg" alt="Idioma">
      </a>
   
        <img src="../images/estados-unidos.png.jpg" alt="Idioma Inglês">
      
    </div>

  </nav>

  <!-- Layout Principal -->
  <div class="container">
    <div class="form-left">
      <h2>JOIN US</h2>
      <form id="login-form">
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>

        <label for="senha">password:</label>
        <input type="password" id="senha" name="senha" required>

        <button type="submit">To enter</button>
      </form>
      <p class="cadastro-link">
        <a href="../views/cadastro-ingles.html">Don't have an account? Sign up</a>
      </p>
      <div class="social-icons">
        <a href="https://www.instagram.com/"><img src="../images/instaCadastro.png" alt="Instagram"></a>
        <a href="https://www.google.com/intl/pt-BR/account/about/"><img src="../images/googlCadastro.png" alt="Google"></a>
        <a href="https://br.linkedin.com/"><img src="../images/linkedinCadastro.png" alt="LinkedIn"></a>
      </div>
    </div>
    <div class="img-login">
      <h3> Welcome back to Enemzada! Let's continue your study journey? </h3>
      <p> Good to see you! Your next step in ENEM awaits you. </p>
           <img src="../images/img-login.png" alt="Imagem login">

    </div>
  </div>


  

  <!-- Footer -->
  <footer>
    <p>&copy; 2025 ENEMzada</p>
  </footer>

  <script src="../js/app.js"></script>
</body>
</html>
