<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notícias ENEM</title>
  <link rel="stylesheet" href="../css/noticias.css">
</head>

<body>
  <!-- Cabeçalho -->
  <header>
    <nav class="navbar">
      <div class="logo">ENEMzada</div>
      <div class="nav-links">
        <a href="index.html" class="btn">Início</a>
        <a href="simulados.html" class="btn">Simulados</a>
        <a href="cursos.html" class="btn">Cursos</a>
        <a href="noticias.html" class="btn">Notícias</a>
      </div>
    </nav>
  </header>

  <!-- Seção de Notícias -->
  <main>
    <section class="noticias-container">
      <h1>Últimas Notícias sobre o ENEM</h1>
      <p>Mantenha-se informado com as novidades mais recentes sobre o ENEM.</p>
      <div class="noticia">
        <h2>ENEM 2025: O que você precisa saber</h2>
        <p>Guia de preparação para o Enem: tudo o que você precisa saber</p>
        <a href="https://www.cnnbrasil.com.br/educacao/guia-de-preparacao-para-o-enem-tudo-o-que-voce-precisa-saber/" target="_blank" class="btn-leia-mais">Leia mais</a>
      </div>

      <div class="noticia">
        <h2>Mudanças no ENEM: O que muda para os alunos?</h2>
        <p>Descubra Como Será o Novo Enem</p>
        <a href="https://neteducacao.com.br/mudancas-no-enem-2025/#google_vignette" target="_blank" class="btn-leia-mais">Leia mais</a>
      </div>

      <div class="noticia">
        <h2>Oportunidade de mudanças no ENEM</h2>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <a href="https://www.estadao.com.br/educacao/novo-enem" target="_blank" class="btn-leia-mais">Leia mais</a>
      </div>
    </section>
  </main>

  <!-- Rodapé -->
  <footer>
    <p>Plataforma ENEMzada - © 2025. Todos os direitos reservados.</p>
  </footer>
</body>

</html>