<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../css/perfil.css">
</head>
<body>
    <div class="container">
       <aside class="sidebar">
  <div class="profile-summary">
    <div class="profile-pic"></div>
    <p>braga</p>
  </div>
  <nav class="settings-menu">
    <ul>
      <li><a href="home.html">início</a></li>
      <li class="active"><a href="perfil.html">Perfil</a></li>
      <li><a href="foto.html">Foto</a></li>
      <li><a href="privacidade-segurança.html">Privacidade</a></li>
    </ul>
  </nav>
</aside>
 
        <main class="content">
            <h1>Perfil</h1>
            <p>Adicione informações sobre você</p>
 
            <form>
                <div class="profile-section">
                    <label for="name">Dados básicos:</label>
                    <input type="text" id="name" value="">
                </div>
 
                <div class="profile-section">
                    <label for="title">Profissão ou título:</label>
                    <input type="text" id="title" value="">
                    <small>Adicione um título profissional, como "Instrutor na Udemy" ou "Arquiteto".</small>
                </div>
 
                <div class="profile-section">
                    <label for="bio">Biografia:</label>
                    <textarea id="bio"></textarea>
                    <small>Não é permitido usar links e códigos de cupom nessa seção.</small>
                </div>
            </form>
        </main>
    </div>
</body>
</html>
 