<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ENEMzadas</title>
  <link rel="stylesheet" href="../css/quemsomos.css">
</head>
<body>
  <header>
    <nav>
      <div class="logo">ENEMzadas</div>
      <div class="nav-links">
        <a href="../views/index.html" class="nav-link effect-1">início</a>
        <a href="../views/login.html" class="nav-link effect-1">Login</a>
        <a href="../views/cadastro.html" class="nav-link effect-1">Cadastro</a>
      </div>
    </nav>
  </header>
 
  <div class="quem-somos">
    <h1>ENEMzada</h1>
  </div>
  <div class="conteudo">
    <p>Nosso objetivo é democratizar o acesso a materiais de qualidade para o ENEM, ajudando estudantes de todo o Brasil a conquistarem sua vaga na universidade</p>
    <p>Somos um grupo de professores, ex-alunos e especialistas em educação que se uniram para criar um espaço com conteúdos gratuitos e acessíveis para o ENEM</p>
    <p>Quer saber mais? Navegue pelo site e descubra como podemos te ajudar!</p>
  </div>
 
  <main class="content">
     
  </main>
 
  <section class="nossa-equipe">
    <h2> Nossa Equipe</h2>
    <div class="equipe-container">
      <div class="linha-equipe">
        <div class="membro">
          <div class="foto-equipe" style="background-image: url('../images/equipe1.jpg');"></div>
          <h3>Daniela</h3>
          <p>Backend e BD</p>
        </div>
 
        <div class="membro">
          <div class="foto-equipe" style="background-image: url('../images/equipe2.jpg');"></div>
          <h3>Melissa</h3>
          <p>Designer</p>
        </div>
 
        <div class="membro">
          <div class="foto-equipe" style="background-image: url('../images/equipe3.jpg');"></div>
          <h3>Gabriela</h3>
          <p>Designer</p>
        </div>
 
        <div class="membro">
          <div class="foto-equipe" style="background-image: url('../images/equipe4.jpg');"></div>
          <h3>Paulo</h3>
          <p>Designer e Front-End</p>
        </div>
      </div>
     
      <div class="linha-equipe">
        <div class="membro">
          <div class="foto-equipe" style="background-image: url('../images/equipe5.jpg');"></div>
          <h3>Rhuan</h3>
          <p>Front-End e Designer</p>
        </div>
 
        <div class="membro">
          <div class="foto-equipe" style="background-image: url('../images/equipe6.jpg');"></div>
          <h3>João B</h3>
          <p>Front-End</p>
        </div>
 
        <div class="membro">
          <div class="foto-equipe" style="background-image: url('../images/equipe7.jpg');"></div>
          <h3>Kaique</h3>
          <p>Backend e Front-End</p>
        </div>
 
        <div class="membro">
          <div class="foto-equipe" style="background-image: url('../images/equipe8.jpg');"></div>
          <h3>Matheus</h3>
          <p>Backend</p>
        </div>
      </div>
    </div>
  </section>
</body>
</html>